/*
============================
Shopping List Application
Built by Brian Loughnane
July/August 2014
============================
*/



/*
============================
Grid
============================
*/

* {
	outline: 1px dotted red;
}

body {
	font-family: Tahoma, Helvetica, Sans-serif;
	/*font-size: 18px;*/
}

ul {
	list-style-type: none;
	padding: 0px;
	text-align: center;
}

h1, h3 {
	text-align: center;
}

article {
	padding: 0px 50px 0px 50px;
}

#categories>div {
	width: 33%;
	/*min-width: 32%;*/
	display: inline-block;
	/*margin: 0px 5px 0px 5px;*/
}


/*
=============================
Header
=============================
*/

header input, header button {
	display:inline-block;
	vertical-align: top;
}

header input {
	width: 530px;
	height: 40px;
	font: bold 32px/32px Helvetica;
	text-align: center;
}

header button {
	width: 100px;
	height: 39px;
}

#search-div {
	/*width: 800px;*/
	margin: auto;
	vertical-align: top;
	text-align: center;
}

#search-div i {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 5px;
}


/*
==========================
Item
==========================
*/

.item {
	width: 32%;
	text-align: left;
}

.cat-icons {
	vertical-align: top;
	text-align: center;
}

.text-icons {
	display: inline-block;
	vertical-align: top;
}

.text-icons {
	width: 285px;
}

.text {
	min-height: 39px;
	padding: 10px 5px 3px 5px ;
	width: 183px;
	text-align: center;
}


.item, .item span, .text-icons>i {
height: 39px;
display: inline-block;
vertical-align: top;
}

.text-icons>i {
	width: 39px;
}

.text-icons>i {
	float: right;
}

/*
==============================
icons
==============================
*/

i {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	-ms-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.i-check {
	background-image: url("images/check.png");
}

.item .i-uncheck {
	background-image: url("images/uncheck.png");
	display: none;
}

.i-remove {
	background-image: url("images/remove.png");
}

.item .i-remove {
	float: left;
	margin-left: 20px;
}

.i-fnv {
	background-image: url("images/fnv.png");
}

.i-dairy {
	background-image: url("images/dairy.png");
}

.i-meat {
	background-image: url("images/meats.png");
}

.i-bng {
	background-image: url("images/bng.png");
}

.i-snacks {
	background-image: url("images/snacks.png");
}

.i-canned {
	background-image: url("images/canned.png");
}

.i-spices {
	background-image: url("images/spice.png");
}

.i-hhg {
	background-image: url("images/hh.png");
}

.i-other {
	background-image: url("images/other.png");
}

/*background*/



/*icons (x9)*/


