/*
============================
Shopping List Application
Built by Brian Loughnane
July/August 2014
============================
*/



/*
============================
Grid & Style
============================
*/

/** {
	outline: 1px dotted red;
}
*/


h1, h3 {
	background-color: #2669a5;
	color: white;
}

body {
	font-family: Tahoma, Helvetica, Sans-serif;
	/*font-size: 18px;*/
	opacity: 0;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;	
}

@media all and (max-width: 316px) and (min-width: 0px) {
	body {
		background: white;		
	}
}

@media all and (max-width: 667px) and (min-width: 317px) {
	body {
		background: url('images/food.jpg');
		background-repeat: no-repeat;
		background-size: 60px;
		background-position: 18px 148px;		
	}
}

@media all and (max-width: 870px) and (min-width: 668px) {
	body {
		background: url('images/food.jpg');
		background-repeat: no-repeat;
		background-size: 100px;
		background-position: 79px 163px;		
	}
}

@media all and (max-width: 991px) and (min-width: 871px) {
	body {
		background: url('images/food.jpg');
		background-repeat: no-repeat;
		background-size: 180px;
		background-position: 69px 143px;		
	}
}

@media (min-width: 992px) {
	body {
		background: url('images/food.jpg');
		background-repeat: no-repeat;
		background-size: 250px;
		background-position: 59px 73px;		
	}
}

ul {
	list-style-type: none;
	padding: 0px;
	text-align: center;
}

h1, h3 {
	text-align: center;
}

h1 {
	padding: 10px 0px;
	-webkit-transition: 1s 1s;
	-moz-transition: 1s 1s;
	-o-transition: 1s 1s;
	-ms-transition: 1s 1s;
	transition: 1s 1s;
}

h3 {
	height: 30px;
	padding-top: 2px;
}

#uncategorized-div {
	display: block;
	overflow: hidden;
}

#uncategorized-div>div{
	margin-left: 0%;
}

@media (min-width: 768px) {
  #uncategorized-div>div {
    margin-left: 33.4%;
  }
}

#categories {
	text-align: center;
	display: block;
}



/*
==============================
icons
==============================
*/

i {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	-ms-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

#search-div i {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 5px;
}

.cat-icons i:hover {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.i-check {
	background-image: url("images/check.png");
}

.item .i-uncheck {
	background-image: url("images/uncheck.png");
}

.i-remove {
	background-image: url("images/remove.png");
}

.i-fnv {
	background-image: url("images/fnv.png");
}

.i-dairy {
	background-image: url("images/dairy.png");
}

.i-meat {
	background-image: url("images/meats.png");
}

.i-bng {
	background-image: url("images/bng.png");
}

.i-snacks {
	background-image: url("images/snacks.png");
}

.i-canned {
	background-image: url("images/canned.png");
}

.i-spices {
	background-image: url("images/spice.png");
}

.i-hhg {
	background-image: url("images/hh.png");
}

.i-other {
	background-image: url("images/other.png");
}
/*
=============================
Header
=============================
*/

header input, header button {
	display:inline-block;
	vertical-align: top;
}

header input {
	width: 530px;
	height: 40px;
	font: bold 32px/32px Helvetica;
	text-align: center;
}

header button {
	width: 100px;
	height: 39px;
}

#search-div {
	/*width: 800px;*/
	margin: auto;
	margin-top: 30px;
	vertical-align: top;
	text-align: center;
}

#input {
	float: none;
}

#instructions {
	display: inline-block;
	position: absolute;
	width: 310px;
	right: 0;
	top: 100px;
	padding-right: 54px;
}

#instructions li {
	border-bottom: 1px solid black;
	text-align: right;
}

h4 {
	text-align: right;
	color: #2669a5;
	font-weight: bold;
}

header .cat-icons {
	margin: 30px 0px;
	position: relative;
}

/*
==========================
Tooltips
==========================
*/

.tooltipDiv {
	display: inline-block;
	position: absolute;
	left: 50px;
}

.tooltipDiv span {
	position: absolute;
	top: -24px; 
	display: inline-block;
	/*outline: 1px solid red;*/
	display: none;
	padding: 3px 20px;
	font-size: 20px;
	box-shadow: 0px 0px 10px #2d7;
	border-radius: 10px;
	background: white;
	color: #2D7;
}

.s-fnv {
	left: 330px;
}

.s-dairy {
	left: 408px;
}

.s-meat {
	left: 456px;
}

.s-bng {
	left: 495px;
}

.s-snacks {
	left: 539px;

}

.s-canned {
	left: 580px;
}

.s-spices {
	left: 631px;
}

.s-hhg {
	left: 662px;
}

.s-other {
	left: 729px;
}

/*
==========================
Item
==========================
*/

/** {
	outline: 1px dotted red;
}*/

.item {
	display: block;
	/*text-align: left;*/
	border: 1px solid #2669a5;
	border-radius: 35px;
	background-color: #2d7;
	margin-bottom: 5px;
	font-size: x-large;
	/*min-width: 365px;*/
}

.item .remove, .item .check-uncheck {
	width: 30px;
	height: 30px;
	position: relative;
	top: 7px;
}

.item .remove {
	left: 5px;
	float: left;
}

.item .check-uncheck {
	right: 7px;
	float: right;
}

.item .textAndIcons {
	margin-top: -9%;
}

.item .text {
	width: 70%;
	margin: auto;
}

.item>div, .item i {
	display: inline-block;
	vertical-align: top;
}

.item>div>i {
	height: 100%;
	width: 100%;

}

.item div {
	text-align: center;
}

.item .cat-icons i {
	width: 20px;
	height: 20px;
	margin: 0px 5px;
}

.item .cat-icons {
	height: 20px;
}


/*
=======================
State Toggles
=======================
*/

.cat-select {
	border: 3px solid #2669a5;
	border-radius: 5px;
}

.checked {
	opacity: .2;
	border: 1px solid #184c7b;
	background-color: #ffe32b;
}

.hide {
	display: none;
}


.checkHover {
	border: 1px solid #184c7b;
	background-color: #ffe32b;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}

.uncheckHover {
	border: 1px solid #2669a5;
	background-color: #2d7;;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}

.removeHover {
	border: 1px solid #184c7b;
	background-color: #f82a39;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}
