/*
============================
Shopping List Application
Built by Brian Loughnane
July/August 2014
============================
*/



/*
============================
Grid
============================
*/

/** {
	outline: 1px dotted red;
}
*/
body {
	font-family: Tahoma, Helvetica, Sans-serif;
	/*font-size: 18px;*/
	background: url('images/food.jpg');
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: 59px 73px;
	opacity: 0;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;	
}

ul {
	list-style-type: none;
	padding: 0px;
	text-align: center;
}

h1, h3 {
	text-align: center;
}

h1 {
	padding: 10px 0px;
	-webkit-transition: 1s 1s;
	-moz-transition: 1s 1s;
	-o-transition: 1s 1s;
	-ms-transition: 1s 1s;
	transition: 1s 1s;
}

h3 {
	height: 30px;
	padding-top: 2px;
}

article {
	padding: 0px 50px 0px 50px;
}

#uncategorized-div {
	width: 32%;
	margin: auto;
}

#categories>div {
	width: 33%;
	/*min-width: 32%;*/
	display: inline-block;
	/*margin: 0px 5px 0px 5px;*/
	vertical-align: top;
}

/*
==============================
icons
==============================
*/

i {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	-ms-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.i-check {
	background-image: url("images/check.png");
}

.item .i-uncheck {
	background-image: url("images/uncheck.png");
}

.i-remove {
	background-image: url("images/remove.png");
}

.i-fnv {
	background-image: url("images/fnv.png");
}

.i-dairy {
	background-image: url("images/dairy.png");
}

.i-meat {
	background-image: url("images/meats.png");
}

.i-bng {
	background-image: url("images/bng.png");
}

.i-snacks {
	background-image: url("images/snacks.png");
}

.i-canned {
	background-image: url("images/canned.png");
}

.i-spices {
	background-image: url("images/spice.png");
}

.i-hhg {
	background-image: url("images/hh.png");
}

.i-other {
	background-image: url("images/other.png");
}
/*
=============================
Header
=============================
*/

header input, header button {
	display:inline-block;
	vertical-align: top;
}

header input {
	width: 530px;
	height: 40px;
	font: bold 32px/32px Helvetica;
	text-align: center;
}

header button {
	width: 100px;
	height: 39px;
}

#search-div {
	/*width: 800px;*/
	margin: auto;
	margin-top: 30px;
	vertical-align: top;
	text-align: center;
}

#instructions {
	display: inline-block;
	position: absolute;
	width: 20%;
}

#instructions li {
	border-bottom: 1px solid black;
	text-align: right;
}

header .cat-icons {
	margin: 30px 0px;
}

#search-div i {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 5px;
}

#search-div i:hover {
	border: 3px solid #2669a5;
	border-radius: 5px;
}

/*
==========================
Item
==========================
*/

.item {
	width: 100%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #2669a5;
	border-radius: 25px;
	background-color: #2d7;
	margin-bottom: 5px;
}

.item * {
	display: inline-block;
}

.item .remove i, .item .check-uncheck i {
	width: 40px;
	height: 40px;
	position: relative;
	top: 3px;
}

.item .remove i {
	left: 5px;
}

.item .check-uncheck i {
	right: 9px;
}

.item .cat-icons i {
	width: 20px;
	height: 20px;
	margin: 0px 5px;
}

.i-remove {
	float: left;
}

.text {
	min-height: 39px;
	width: 76%;
	text-align: center;
	vertical-align: top;
}

.item .cat-icons {
	position: absolute;
	margin-top: 22px;
	margin-left: 11px;
}

.check-uncheck {
	float: right;
	line-height: 0px
}

.cat-icons i:hover {
	border: 3px solid #2669a5;
	border-radius: 5px;
}

.item:hover {
	border: 1px solid #184c7b;
	background-color: #f82a39;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}

/*
=======================
State Toggles
=======================
*/

.cat-select {
	border: 3px solid #2669a5;
	border-radius: 5px;
}

.checked {
	opacity: .2;
}

.hide {
	display: none;
}
/*background*/


/*
========================
Style
========================
*/

h1, h3 {
	background-color: #2669a5;
	color: white;
}
